body{
  width: 750px;
  margin-left: 50px
}
img{
  max-width:100% ;
}
.box{
width: 220px;
height: 450px;
padding: 5px;
border: 1px solid black;
margin:0;
box-sizing: border-box;
float: left;
text-align:justify;
}
.footer{
  position: relative;
  top:0px;
  width: 690px;
  height:30px;
  background: #F57517;
  text-align:center;
  display:inline-block;
  outline: 1px solid black;
}
#titulo{
  font-size: 25px;
  width: 690px;
  height: 30px;
  background: #F5A117;
  text-align: center;
  outline: 1px solid black;
}
h3{
  text-align: center;
  padding-bottom: 20px;
}
#medio{
  margin-top: 5px;
  text-align: center;
}
p{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}
h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}
#columna2 {
  width: 250px;
}
